@import 'cart.css';

.textform-black {
    color: var(--black, #000);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    font-style: normal;
}

.textform-white {
    color: var(--white, #FFF);
    text-align: center;
    line-height: 0.8;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    font-style: normal;
}

.pre-owned-text {
    position: absolute;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px;
    color: var(--light-sand, #FCF7E6);
    line-height: 0.8;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.fw-small {
    font-weight: 400;
}
.h-11{
    height: 42px;
}

.px-2 {
    padding-left: 0.5rem
        /* 8px */
    ;
    padding-right: 0.5rem
        /* 8px */
    ;
}

.py-1 {
    padding-top: 0.25rem
        /* 4px */
    ;
    padding-bottom: 0.25rem
        /* 4px */
    ;
}

.rounded-4x1 {
    border-radius: 4px;
    border: 1px solid var(--black, #000);
}

.rounded-smd {
    border-radius: 4px;
}

/* PRODUCT CARD */
.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.product-photo {
    display: flex;
    width: 300px;
    height: 300px;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.product-image {
    border-radius: 4px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

.product-image:hover {
    transform: scale(1.02);
}
.product-name{
    font-weight: 700;
    width: 200px;
    height: 42px;
}

.product-add-btn {
    width: 100%;
    padding: 16px;
    text-transform: uppercase;
    border-radius: 0.25rem; /* 4px */
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

.product-add-btn:hover {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

/* MAIN PAGE */
.beta-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    background: var(--black, #000);
    align-items: center;
    align-self: stretch;
    justify-content: center;
    gap: 48px;
}

.info-dropdown {
    display: flex;
    padding-top: 3px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.dropbtn {
    border-radius: 4px;
    background: var(--black, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.dropdown-content {
    display: none;
    padding-top: 3px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.dropdown-content a {
    display: flex;
    padding-top: 3px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.show {
    display: flex;
}

.contents {
    display: inline-flex;
    width: 100%;
    padding-top: 48px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items: flex-start;  */
    gap: 24px;
}

/* HEADER */
.header {
    padding: 48px 120px 48px 62px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
}

.sign-up-btn {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 12px;
    font-size: 20px;
    line-height: 0.8;
    font-weight: 700;
    border-radius: 4px;
    --tw-bg-opacity: 1;
    background: var(--black, #000);
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

.sign-up-btn:hover {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

/* PAGINATION */
.pagination {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.pagination-btn {
    color: #1E1E1E;
    text-align: center;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 0.8;
    display: flex;
    width: 39px;
    height: 39px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 100%;
}
.pagination a.active {
    color: #FFF;
    background-color: #1E1E1E;
}

.pagination a:hover:not(.active, .dots) {
    background-color: #ddd;
    transition: background-color .3s;
}

/* FOOTER */
.div-footer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-top: 100px;
    flex-direction: column;
    gap: 8px;
}

.footer {
    display: flex;
    width: 100%;
    padding: 84px 120px;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #000;
    background: var(--white, #FFF);
}

.footer-logo {
    display: flex;
    padding: 8px min(110px, 5%);;
    align-items: flex-start;
    gap: 8px;
}

.footer-block {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    flex-shrink: 0;
    line-height: 0.8;
    font-family: 'Space Mono';
    font-weight: 700;
}



@media (max-width: 1240px) {
    .grid-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    html,
    body {
        width: 100%;
    }
    .grid-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .footer {
        display: grid;
        width: 100%;
        padding: 48px;
        justify-content: center;
        gap: 48px;
    }
}

/* MOBILE VAR */
@media (max-width: 670px) {
    html,
    body {
        overflow-x: hidden;
    }

    .cart {
        width: 100%;
        box-shadow: none
    }
    .cart-product {
        width: 100%;
    }

    .sm\:header {
        display: flex;
        padding: 24px;
        justify-content: space-between;
        align-items: center;
    }

    .sm\:logo-text {
        width: 107.461px;
        height: 50px;
    }

    .sm\:logo-icon {
        width: 23px;
        height: 23px;
    }

    .grid-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* align-items: flex-start;  */
        gap: 24px;
    }

    .sign-up-btn {
        font-size: 14px;
        line-height: 0.8;
        font-weight: 700;
    }

    .sm\:header-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }
    .footer {
        display: grid;
        width: 100%;
        padding: 48px;
        justify-content: center;
        gap: 48px;
    }
    .info-dropdown-text{
        width: 142px;
        height: 20px;
        line-height: normal;
        overflow: hidden;
    }
}